.fitinfo_row{
    padding: 2vw 4vw;
    background: linear-gradient(132deg, #2f0004,#2f0004, #000000, #000000);
    font-family: 'Roboto', sans-serif;
}
.fitinfo_img {
    width: 100%;
    background: linear-gradient(134deg, #2f0004,#2f0004, #642121, #000000);
}
.fitinfo_row h3{
    margin-bottom: 30px;
    letter-spacing: 0.6px;
    color: #f30443;
}
.fitinfo_row p{
    letter-spacing: 0.6px;
    margin-bottom: 20px;
    color: #ffe1e194;
}
.stay_l{
    opacity: 0;
    transform: translateX(200px);
    transition: all 1s;
}
.stay_r{
    opacity: 0;
    transform: translateX(-200px);
    transition: all 1s;
}
.stay_l.active, .stay_r.active{
    opacity: 1;
    transform: translate(0);
}