a{
    color: inherit;
}
.navbar{
    background-color: #472222f2;
    font-family: 'Roboto', sans-serif;
}
.linkDiv a:hover{
    transition: all 0.5s;
    color: #ffb8cb;
    border-bottom: solid 1px red;
}
.logoImg{
    width: 50px;
}